# See https://atom.io/docs/latest/creating-a-package#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Spark Core'
      'submenu': [
        { 'label': 'Build / Verify', 'command': 'atom-spark-core:build' },
        { 'label': 'Flash', 'command': 'atom-spark-core:flash' },
        { 'label': 'Toggle log view', 'command': 'atom-spark-core:toggle' },
      ]
    ]
  }
]
